.container-menu a {
    padding: 25px 30px 25px 20px;
    text-decoration: none;
    color: rgb(113 119 144 / 78%);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

.content-wrapper-header {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png"), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
}

.content-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.content-section ul li:hover {
    background-color: rgba(16 18 27 / 40%);
}

.content-section ul li:hover:first-child {
    border-radius: 13px 13px 0 0;
}

.content-section ul li:hover:last-child {
    border-radius: 0 0 13px 13px;
}

.content-section ul li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}