@import "tachyons";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  background-image: url(https://i.ytimg.com/vi/6rxbiSbXjnc/maxresdefault.jpg);
}

.menu-circle {
  width: 15px;
  height: 15px;
  background-color: #f96057;
  border-radius: 50%;
  box-shadow: 24px 0 0 0 #f8ce52, 48px 0 0 0 #5fcf65;
  margin-right: 105px;
  flex-shrink: 0;
}

@media screen and (max-width: 945px) {
  .menu-circle {
    display: none;
  }
}

.header-menu a {
  padding: 25px 30px 25px 20px;
  text-decoration: none;
  color: rgb(113 119 144 / 78%);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

@media screen and (max-width: 610px) {
  .header-menu a:not(.main-header-link) {
    display: none;
  }
}

.header-menu a.is-active,
.header-menu a:hover {
  color: #f9fafb;
  border-bottom: 2px solid #f9fafb;
}

.notify {
  position: relative;
}

.notify:before {
  content: "";
  position: absolute;
  background-color: #3a6df0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  right: 20px;
  top: 16px;
}

@media screen and (max-width: 1055px) {
  .notify {
    display: none;
  }
}

.search-bar input {
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 16px 48%;
  color: rgb(113 119 144 / 78%);
}

.search-bar input::-moz-placeholder {
  color: rgb(113 119 144 / 78%);
  font-size: 15px;
  font-weight: 500;
}

.search-bar input:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 500;
}

.search-bar input::placeholder {
  font-size: 15px;
  font-weight: 500;
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  margin-left: auto;
  flex-shrink: 0;
}

.header-profile svg {
  width: 22px;
  color: #f9fafb;
  flex-shrink: 0;
}

.header-notification {
  right: -6px;
  top: -6px;
}

.notification + svg {
  margin-left: 22px;
}

@media screen and (max-width: 945px) {
  .notification + svg {
    display: none;
  }
}

.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 2px solid #f9fafb;
  margin-left: 22px;
}

.wide .header-menu,
.wide .header-profile {
  display: none;
}

.wide .search-bar {
  max-width: 600px;
  margin: auto;
  transition: 0.4s;
  box-shadow: 0 0 0 1px rgba(113 119 144 / 25%);
  padding-left: 0;
}

.wide .menu-circle {
  margin-right: 0;
}

.container-menu a {
  padding: 25px 30px 25px 20px;
  text-decoration: none;
  color: rgb(113 119 144 / 78%);
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.content-wrapper-header {
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),
    linear-gradient(
      to right top,
      #cf4af3,
      #e73bd7,
      #f631bc,
      #fd31a2,
      #ff3a8b,
      #ff4b78,
      #ff5e68,
      #ff705c,
      #ff8c51,
      #ffaa49,
      #ffc848,
      #ffe652
    );
}

.content-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.content-section ul li:hover {
  background-color: rgba(16 18 27 / 40%);
}

.content-section ul li:hover:first-child {
  border-radius: 13px 13px 0 0;
}

.content-section ul li:hover:last-child {
  border-radius: 0 0 13px 13px;
}

.content-section ul li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.app-menu a.is-active,
.app-menu a:hover {
  color: #f9fafb;
  border-bottom: 2px solid #f9fafb;
}

.side-title {
  color: rgb(113 119 144 / 78%);
}

a:hover {
  background-color: rgba(12 15 25 / 30%);
}
